/* CSS declarations go here */
body {
	text-align: center;
}

#like {
	float: left;
	margin-left: 375px;
}

#dislike {
	float: right;
	margin-right: 375px;
}

.rating {
	font-weight: bold;
	font-family: Arial;
	font-size: 22px;
}