/* CSS declarations go here */
body {
	text-align: center;
}

#like {
	float: left;
	/*margin-left: 375px;*/
}

#dislike {
	float: right;
	/*margin-right: 375px;*/
}

#window {
	max-width: 1000px;
	margin: 0 auto;
}
.rating {
	font-weight: bold;
	font-family: Arial;
	font-size: 22px;
}

.survey {
	font-weight: bold;
	font-family: Arial;
	font-size: 20px;
	line-height: 50px;
}

.title {
	font-weight: bold;
	font-family: Arial;
	font-size: 30px;
}

.table {
	margin: 0 auto;
}