<template name='admin'>
	<div>
		{{#if isLoggedIn}}
			<div>
				Welcome {{> loginButtons}}.
			</div>
			<br>
			{{> dataTable}}
		{{else}}
			<div>
				{{> loginButtons}}
			</div>
		{{/if}}
	</div>
</template>


<template name='dataTable'>
	{{#if results}}
		<button id='buttonDownloadAll'>Download All CSV</button>
	{{/if}}
	<table class='table table-striped'>
        <thead>
            <tr>
                <th></th>
                <th>Amazon Worker ID</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {{#each results}}
            	{{#if completeResult}}
	                <tr>
	                    <td>
	                    </td>
	                    <td>
	                        {{workerId}}
	                    </td>
		                <td>
		                	<button id='buttonDownload'>Download CSV</button>
		                </td>
	                </tr>
                {{/if}}
            {{/each}}
        </tbody>
    </table>
</template>