<template name='admin'>
	<div>
		{{#if isLoggedIn}}
			<div>
				Welcome {{> loginButtons}}.
			</div>
			{{> dataTable}}
		{{else}}
			<div>
				{{> loginButtons}}
			</div>
		{{/if}}
	</div>
</template>


<template name='dataTable'>
	<table class='table table-striped'>
        <thead>
            <tr>
                <th></th>
                <th>Username</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {{#each results}}
                <tr>
                    <td>
                    </td>
                    <td>
                        {{username}}
                    </td>
                    
	                    <td><button id='buttonDownload'>Download CSV</button></td>
			
                   
                </tr>
            {{/each}}
        </tbody>
    </table>
</template>